<template name="questionEdit">
  <form class="main">


    <div class="control-group">
        <label class="control-label" for="title">Question</label>
        <div class="controls">
            <input name="title" type="text" value="{{title}}" class="form-control" placeholder="Question"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="answer">Answer</label>
        <div class="controls">
            <input name="answer" type="text" value="{{answer}}" class="form-control" placeholder="Answer"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="explanation">Explanation</label>
        <div class="controls">
            <input name="explanation" type="text" value="{{explanation}}" class="form-control"/>
        </div>
    </div>

    <div class="control-group">
        <!-- <div class="controls"> -->
            <input type="submit" value="Submit" class="btn btn-default submit"/>
        <!-- </div> -->
    </div>
    <hr/>
    <div class="control-group">
        <div class="controls">
            <a class="btn btn-default delete" href="#">Delete question</a>
        </div>
    </div>
  </form>
</template>

