<template name="questionSubmit">
  <form class="main">


    <div class="control-group">
        <label class="control-label" for="title">Question</label>
        <div class="controls">
            <input name="title" type="text" class="form-control" value="" placeholder="Enter your question"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="answer">Answer</label>
        <div class="controls">
            <input name="answer" type="text" class="form-control" value="" placeholder="Provide an answer"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="explanation">Explanation</label>
        <div class="controls">
            <input name="explanation" type="text" class="form-control" value="" placeholder="Optional: Additional details to display with answer"/>
        </div>
    </div>



    <div class="control-group">
        <input type="submit" value="Submit" class="btn btn-default"/>
    </div>
  </form>
</template>


