<template name="questionSubmit">
  <form class="main">


    <div class="control-group">
        <label class="control-label" for="title">Question</label>
        <div class="controls">
            <input name="title" type="text" class="form-control" value="" placeholder="Enter your question"/>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="answer">Answer</label>
        <div class="controls">
            <input name="answer" type="text" class="form-control" value="" placeholder="Please provide an answer"/>
        </div>
    </div>

<!--     <div class="control-group">
        <label class="control-label" for="message">Message</label>
        <div class="controls">
            <textarea name="message" type="text" value=""></textarea>
        </div>
    </div>  -->

    <div class="control-group">
        <!-- <div class="controls"> -->
            <input type="submit" value="Submit" class="btn btn-default"/>
        <!-- </div> -->
    </div>
  </form>
</template>


