/* CSS declarations go here */

@font-face {
    font-family: 'proxima_novalight';
    src: url('public/proximanova-light-webfont.eot');
    /*src: local('Riesling Regular'), local('Riesling'), url('fonts/riesling.ttf') format('truetype');*/
}

body {
    font-family: 'proxima_novalight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #f6f6f6;
    color: #ff6759;  
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 1px;
    /*background-image: url('p5.png');*/
}

h3, input, textarea, a, p, footer{
    font-family: 'proxima_novalight', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;

}

p{
  padding: 10px;
}

footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 1em;
    margin-top: 4em;
    color: #777;
}

input:focus{
    outline: none;
    border-color: #fff;
    box-shadow: none;
}

.alert-error{
    color: #ff6759;
    background-color: #FFF0EE;
    border-color: #FFE1DE;
    z-index: -10;
}

.btn{
  background-color: #ff6759;
  border-color: #fff;
  color: #ff6759;
}
.dropdown-menu > button, .btn-default{
    border-radius: 0px;
    font-size: 14px;
    letter-spacing: .1em;
    color: #ff6759;
    background-color: #fff;
    border: solid 2px #ff6759;
    text-transform: uppercase;
    /*background: #ff6759;*/
    /*border-color: #ff6759;*/
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-image: none;
    outline: none;
}

.dropdown-menu > button:hover, .dropdown-menu>button:active, .dropdown-menu>button:visited, .dropdown-menu>button:focus, .btn-default:active, .btn-default:hover, .btn-default:focus{
    border-radius: 0px;
    font-size: 14px;
    letter-spacing: .1em;
    color: #fff;
    background-color: #ff6759;
    border: solid 2px #ff6759;
    text-transform: uppercase;
    /*background: #ff6759;*/
    border-color: #ff6759;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-image: none;
    outline: none;
}

#main{
    min-height: 400px;
}


#outer {
    width: 600px;
    margin: 0 auto;
}

.form-control{
  box-shadow: none !important;
  /*min-height: 80px;*/
  border: 1px solid #fff !important;
  /*font-size: 48px !important;*/
}



.answer-item{
  padding-bottom: 20px;
}

.answer-item input{
  width: 80%;
  background-color: #fff;
  line-height: 2em;
  color: #777777;
  font-size: 48px !important;
  min-height: 80px;

}

.answer .btn-default{
  margin-right: 20px;
}

.controls input{
  width: 80%;
  min-height: 50px;
  font-size: 16px;
	/*width: auto;*/
  line-height: inherit;

}

.controls textarea{
    width: 60%;

}

.form-control:focus{
	box-shadow: none;
}

.question{
  padding: 2px 20px 2px 0px;
}

.question h3{
  line-height: 1.6em;
}

.main, .post, .comments li, .comment-form {
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}

.main .controls input{
    background-color: #efefef;
}

.navbar { margin-bottom: 10px }


.navbar .navbar-inner {
    background: #f6f6f6;
	box-shadow: none;
	border-radius: none;
	border: none;
	padding: 0px;
}


.navbar .nav > li {
    padding: 7px 45px 7px 0px;

}

.navbar .nav > li:last-child{
    padding: 7px 0px;

}

.navbar .nav > li > a {
    border-bottom: 1px #777 solid;
    padding: 0px 0px 4px 0px;
}

#login-buttons{
    margin-top: -7px;
    text-transform: uppercase;
}

.nav .dropdown-toggle .caret {
    margin-top: 6px;
    border-top-color: #777;
    border-bottom-color: #777;
}

.nav .dropdown > a:hover .caret{
    border-top-color: #777;
    border-bottom-color: #777;
}

.nav .dropdown > .caret:hover {
   border-top-color: #777;
   border-bottom-color: #777;
 }

.dropdown-toggle:hover{
    color: #777;
    border-top-color: #777;
    border-bottom-color: #777;

}
.nav .dropdown-toggle .caret:hover {
    border-top-color: #777;
    border-bottom-color: #777;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle{
    background-color: inherit;

}
#spinner { height: 300px }

.question .edit-link{
    font-size: 12px;
}
/*.post {
    *zoom: 1;
    -webkit-transition: all 300ms 0ms;
    -webkit-transition-delay: ease-in;
    -moz-transition: all 300ms 0ms ease-in;
    -o-transition: all 300ms 0ms ease-in;
    transition: all 300ms 0ms ease-in;
    position: relative;
    opacity: 1;
}

.post:before, .post:after {
    content: "";
    display: table;
}
.post:after { clear: both }
.post.invisible { opacity: 0 }
.post .upvote {
    display: block;
    margin: 7px 12px 0 0;
    float: left;
}
.post .post-content { float: left }
.post .post-content h3 {
    margin: 0;
    line-height: 1.4;
    font-size: 18px;
}
.post .post-content h3 a {
    display: inline-block;
    margin-right: 5px;
}
.post .post-content h3 span {
    font-weight: normal;
    font-size: 14px;
    display: inline-block;
    color: #aaaaaa;
}
.post .post-content p { margin: 0 }
.post .discuss {
    display: block;
    float: right;
    margin-top: 7px;
}*/
.comments {
    list-style-type: none;
    margin: 0;
}
.comments li h4 {
    font-size: 16px;
    margin: 0;
}
.comments li h4 .date {
    font-size: 12px;
    font-weight: normal;
}
.comments li h4 a { font-size: 12px }
.comments li p:last-child { margin-bottom: 0 }
.dropdown-menu span {
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #bbb;
    white-space: nowrap;
}
.load-more {
    display: block;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.05);
    text-align: center;
    height: 60px;
    line-height: 60px;
    margin-bottom: 10px;
}
.load-more:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
}

@media (max-width: 979px){
  .nav-collapse .nav > li > a:hover, .nav-collapse .nav > li > a:focus, .nav-collapse .dropdown-menu a:hover, .nav-collapse .dropdown-menu a:focus {
   background-color: inherit;
  }

  .navbar .nav > li > a {
      border-radius: 0px;
      border-bottom: 1px black solid;
      width: 700px;
  }
}

.confetti
{
width: 60px;
height: 60px;
margin-top: -100px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
border-radius: 30px;
position:relative;
background-color: #ff69b4;
animation:confetti 7s;
  -webkit-animation:confetti 7s;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite; /* Safari and Chrome */
}

@-webkit-keyframes confetti {
    from {top: 0px;}
    to {top: 700px;}
} 

@keyframes confetti {
    from {top: 0px;}
    to {top: 700px;}
}


.confetti1 .confetti12 {
animation-delay:1s;
-webkit-animation-delay:1s;
}

.confetti1 {
margin-left: 50px;
}
.confetti2 {
margin-left: 300px;
}

.confetti3, .confetti6, .confetti20 {
animation-delay:1.5s;
-webkit-animation-delay:1.5s;
}
.confetti3 {
margin-left: 800px;
}
.confetti4 {
margin-left: 600px;
animation-delay:3s;
-webkit-animation-delay:3s;
}
.confetti5, .confetti6, .confetti7 {
background-color: #fbfcfa;
}
.confetti5 {
margin-left: 700px;
}
.confetti6 {
margin-left: 200px;
}
.confetti7, .confetti8 {
animation-delay:4.5s;
-webkit-animation-delay:4.5s;
}
.confetti17 {
margin-left: 100px;
}
.confetti8, .confetti9, .confetti10, .confetti11 {
background-color: #5e625c;
}
.confetti8 {
margin-left: 200px;
}
.confetti9 {
margin-left: 900px;
}
.confetti10, .confetti14, .confetti18 {
animation-delay:2.5s;
-webkit-animation-delay:2.5s;
}
.confetti10 {
margin-left: 550px;
}
.confetti11 {
margin-left: 350;
animation-delay:2s;
-webkit-animation-delay:2s;
}
.confetti12, .confetti13, .confetti14 {
background-color: #f5d44d;
}
.confetti12 {
margin-left: 350;
}
.confetti13 {
margin-left: 620;
animation-delay:4s;
-webkit-animation-delay:4s;
}
.confetti14 {
margin-left: 570;
}
.confetti15, .confetti16, .confetti17, .confetti18 {
background-color: #e44301;
}
.confetti15 {
margin-left: 650px;
}
.confetti16 {
margin-left: 100px;
animation-delay:4s;
-webkit-animation-delay:4s;
}
.confetti17, .confetti21 {
animation-delay:.5s;
-webkit-animation-delay:.5s;
}
.confetti17 {
margin-left: 250px;
}
.confetti18 {
margin-left: 450px;
}
.confetti19, .confetti20, .confetti21 {
background-color: #a9954d;
}
.confetti19 {
margin-left: 450px;
}
.confetti20 {
margin-left: 850px;
}
.confetti21 {
margin-left: 200px;
}


